{% extends "base.html" %}
{% load widget_tweaks %}

{% block head_extra %}
<style>
    .form-group {
        margin-bottom: 1.5rem;
    }

    .form-control {
        width: 45%;  /* Ensure the fields take up full width */
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
    }
</style>
{% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="text-center mb-4">
        <h2>Close Job Card: {{ job_card.job_number }}</h2>
    </div>
    
    <form method="post">
        {% csrf_token %}
        
        {% for field in form %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
            {{ field|add_class:"form-control" }}
        </div>
        {% endfor %}

        <div class="form-group text-center">
            <button type="submit" class="btn btn-danger">Close Job Card</button>
        </div>
    </form>
</div>

{% endblock %}
